* {
    margin:  0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #824EF5;
    color: #F5e61b;
}

li {
    list-style: none;
}
.header-menu {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 60px;
    background-color: #938DF8;
}

.header-menu nav {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.header-menu nav {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    padding: 8px;

}
.lista-item {
    padding: 32px;
}

.lista-item ul li {
    margin-bottom: 32px;
}

.lista-titulo {
    margin-bottom: 5px;
    font-size: 22px;
    color: #F5e61b;
    font-weight: 700;
}

.lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #F5e61b;
    font-weight: 300;
}


.lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    align-items: center;

}

.lista-menu li>a{
    font-size: 18px;
    color: #FFF;
    text-decoration: inherit;
}


.container  {
    height: 100vh;
    display: flex;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto {
    font-size: 20px;
    line-height: 32px;
    color: #F5e61b;
    font-weight: 300;
}

.footer {
    background-color: #5A53D8;
    display: flex;
    align-items: center;
    height: 30vh;
}



.lista-footer li{
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;    
}


.estilo-icon {
    font-size: 22px;
    margin-right: 10px;
}


